
#box {width:300px; height:300px; background: #fdffff;  border:5px solid #000000; margin-left: auto; margin-right: auto; text-align: right;}

#className {text-align: center;}

/* CSS BUTTON  START HERE */
a.closeButton {
    font-size: 12px;
    background: #fff no-repeat 4px 5px;
    display: inline-block;
    padding: 5px 20px 6px;
    color: #333;
    border:1px solid #ccc;
    text-decoration: none;
    font-weight: bold;
    line-height: 1.2em;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-box-shadow: 0 1px 3px #999;
    -webkit-box-shadow: 0 1px 3px #999;
    position: relative;
    cursor: pointer;
    outline:none;
}