body {overflow: hidden;}
header div#welcome {float: right;}
header div#mainmenu div#menubutton {
    background-image: url(../../www/images/logo.png);
    background-repeat: no-repeat;
    height: 70px;
    width: 70px;
}
header div#mainmenu div#menubutton:hover {
    background-image: url(../../www/images/logo_hover.png);
}
header div#mainmenu div#menubody {
    display: none;
    z-index: 200;
}
header h1{
    text-align: center;
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    line-height: 35px;
    position: relative;
    font-weight: 400;
    color: rgb(29, 162, 193);
    text-shadow: 0px 3px 2px #12535D;
    padding: 0px 0px 5px 0px;
}
#overlay {
    position: fixed;
    z-index:199;
    top: 0px;
    left: 0px;
    height:100%;
    min-height: 1080px;
    min-width: 1920px;
    width:100%;
    background-color: #000000;
    opacity: 0.85;
}
header div#mainmenu div#menubody div#menuPointer {
    background-image: url(../../www/images/menu.png);
    background-repeat: no-repeat;
    position: absolute;
    height: 500px;
    width: 500px;
    z-index: 200;
    margin-top: 180px;/*cant touch this */
    margin-left: 710px;
}

header div#mainmenu div#menubody div#new {
    background-image: url(../../www/images/new.png);
    background-repeat: no-repeat;
    position: absolute;
    height: 200px;
    width: 200px;
    z-index: 200;
    margin-top: 80px;
    margin-left: 600px;
}
header div#mainmenu div#menubody div#new:hover {
    background-image: url(../../www/images/new-hover.png);
}

header div#mainmenu div#menubody div#load {
    background-image: url(../../www/images/load.png);
    background-repeat: no-repeat;
    position: absolute;
    height: 200px;
    width: 200px;
    z-index: 200;
    margin-top: 10px;
    margin-left: 1050px;
}
header div#mainmenu div#menubody div#load:hover {
    background-image: url(../../www/images/load-hover.png);
}

header div#mainmenu div#menubody div#save {
    background-image: url(../../www/images/save.png);
    background-repeat: no-repeat;
    position: absolute;
    height: 200px;
    width: 200px;
    z-index: 200;
    margin-top: 290px;
    margin-left: 1250px;
}
header div#mainmenu div#menubody div#save:hover {
    background-image: url(../../www/images/save-hover.png);
}

header div#mainmenu div#menubody div#import {
    background-image: url(../../www/images/import.png);
    background-repeat: no-repeat;
    position: absolute;
    height: 200px;
    width: 200px;
    z-index: 200;
    margin-top: 580px;
    margin-left: 1100px;
}
header div#mainmenu div#menubody div#import:hover {
    background-image: url(../../www/images/import-hover.png);
}

header div#mainmenu div#menubody div#export {
    background-image: url(../../www/images/export.png);
    background-repeat: no-repeat;
    position: absolute;
    height: 200px;
    width: 200px;
    z-index: 200;
    margin-top: 630px;
    margin-left: 720px;
}
header div#mainmenu div#menubody div#export:hover {
    background-image: url(../../www/images/export-hover.png);
}

header div#mainmenu div#menubody div#logout {
    background-image: url(../../www/images/logout.png);
    background-repeat: no-repeat;
    position: absolute;
    height: 200px;
    width: 200px;
    z-index: 200;
    margin-top: 400px;
    margin-left: 500px;
}
header div#mainmenu div#menubody div#logout:hover {
    background-image: url(../../www/images/logout-hover.png);
}

header div#mainmenu div#menubody a#text {
    position: absolute;
    z-index: 200;
    margin-top: 500px;
    margin-left: 960px;
    color: #3D9DB3;
    font-size: 35px;
}

header div#mainmenu div#menubody a#text:hover {
    color: #3D9DB3;
}

footer div#selectedNodeMenu {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-color: #3D9DB3;
    border-style: solid;
    position: relative;
    z-index: 200;
    width: 156px;
    background-color: #FFFFFF;
}

footer div#selectedNodeMenu div#bottom {
    display: -webkit-box;
    margin-top: 3px;
    margin-bottom: 3px;
}

footer div#selectedNodeMenu div#top {
    margin-top: 3px;
}

footer div#selectedNodeMenu select#font {
    top: 0px;
    width: 100px;
    margin-left: 6px;
}

footer div#selectedNodeMenu select#size {
    top: 0px;
}

footer div#selectedNodeMenu a#bold {
    margin-left: 6px;
}

footer div#selectedNodeMenu a#italic {
    margin-left: 6px;
}

footer div#selectedNodeMenu a#underline {
    margin-left: 6px;
}

footer div#selectedNodeMenu div#colorSelector {
    top: 0px;
    height: 16px;
    width: 16px;
    background-image: url(../../www/images/color.png);
    background-repeat: no-repeat;
    margin-left: 65px;
}

footer div#selectedNodeMenu div#borderColorSelector {
    top: 0px;
    height: 15px;
    width: 27px;
    background-image: url(../../www/images/bordercolor.png);
    background-repeat: no-repeat;
    margin-left: 10px;
}